@import 'nib'
@import './card/styles'
@import './layout/styles'
@import './status/styles'
@import './phases/styles'
@import './battle/styles'

test($color=red)
  border 1px solid $color
  box-sizing border-box

body 
  font-family Arial, Helvetica, sans-serif
  font-size 16px
  margin 0


