.Card 
  width 150px
  background-color #C2AC37
  border 5px solid black
  border-radius .5em
  box-shadow 0 0 10px rgba(black, .5)

  &-description 
    background-color white
    padding .5em
    font-size 12px
    margin-bottom .5em
    border 2px solid black

  &-image 
    width 100%
  
  &-attack
    background-color black
    color white
    font-size .7em

  &-name
    color white
    font-size 1em
    text-transform uppercase
    margin 0 0 .5em 0
  
